port: 4222
http_port: 8222
websocket: {
  port: $WEBSOCKET_PORT
  $TLS_CONFIG
}

// Operator "memory"
operator: $OPERATOR_JWT

resolver: MEMORY
resolver_preload: {
  $ACCOUNT_PK: "$ACCOUNT_JWT"
  $SYS_ACCOUNT_PK: "$SYS_ACCOUNT_JWT"
}

debug:   false
trace:   false

include ./additional.conf

system_account: $SYS_ACCOUNT_PK

jetstream {
   store_dir=/data/
}
