port: 4222
http_port: 8222
websocket: {
  port: $WEBSOCKET_PORT
  $TLS_CONFIG
}

// Operator "memory"
operator: $OPERATOR_JWT

resolver: MEMORY
resolver_preload: {
  $ACCOUNT_PK: $ACCOUNT_JWT
}

debug:   false
trace:   false

include ./additional.conf
